li{
  list-style-type: none;
  color: white;
}
a{
  color: white;
}
.container>.row>.col-md-5, .container>.row>.col-md{
  background-color: rgb(28, 140, 245);
  padding: 1%;
}
.col-md-4{
  padding: 3%;
}
.col>p{
  margin: 0%;
}
.jumbotron{
  justify-content: center;
  padding: 2%;
}
.row{
  padding: 1%;
}
img{
  padding: 0.5%;
}
.lead{
  text-align: center;
}
@media screen and (min-width: 320px) {
  span{
    font-size: 6vw;
  }
  p, .btn{
    font-size: 5vw;
  }
}
@media screen and (min-width: 720px) {
  span{
    font-size: 3vw;
  }
  p, .btn{
    font-size: 2.2vw;
  }
}
@media screen and (min-width: 1024px) {
  p, .btn{
    font-size: 1.5vw;
  }
}

