/* Styles go here */

div {
   width: 200px;
    height: 100px;
    background-color: red;
    font-size: 20px;
    left: 0px;
    top: 0px;
    position: absolute;
    transition-property: width height background-color font-size left top transform color;
    transition-duration: 4s;
}

div:hover{
    width: 400px;
    height: 200px;
    background-color: green;
    font-size: 60px;
    transform : translate(300px,100px);
    transform : rotate(90deg);
    transform : skew(-25deg, 10deg);
}


